:root {
  --red:    #ff5555;
  --cyan:   #8be9fd;
  --green:  #50fa7b;
  --orange: #ffb86c;
  --pink:   #ff79c6;
  --purple: #bd93f9;
  --yellow: #f1fa8c;
  --blue:   #334ECC;
  --wild: linear-gradient(45deg,
      var(--red) 25%,
      var(--blue) 50%,
      var(--green) 75%);
  --default-shadow: 1px 1px 2px #000;
  --lawrencium: linear-gradient(to right,
      #0f0c29, #302b63, #24243e);
}

.red {    background: var(--red) !important }
.cyan {   background: var(--cyan) !important }
.green {  background: var(--green) !important }
.orange { background: var(--orange) !important }
.pink {   background: var(--pink) !important }
.purple { background: var(--purple) !important }
.yellow { background: var(--yellow) !important }
.blue {   background: var(--blue) !important }
.wild { background: var(--wild) !important; }

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
  font-family: sans-serif;
}

button {
  margin: 20px auto;
  padding: 10px 20px;
  display: block;
  background: rgba(0,0,0,0.01);
  border: 1px solid #fff;
  color: #fff;
}


button:hover {
  cursor: pointer;
  background: var(--wild);
}

button.clicked {
  background: var(--wild);
  transform: scale(0.9);
  transition-duration: 1s;
}



/* MENU CARD */

#menu-card {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  align-items: center;
  width: 100%;
  height: 100%;
}

#menu-card.active {
  display: flex;
}

#menu-logo {
  width:90%;
  max-width: 800px;
  opacity: 0;
}

#menu-logo.active {
  opacity: 1;
  transition-duration: 2s;
}

#menu-nav {
  opacity: 0;
}

#menu-nav.active {
  opacity: 1;
  transition-duration: 0.5s;
}

#menu-nav p {
  margin: 15px 0 30px;
  color: #fff;
}



/* GAME CARD */

#game-card {
  margin: 0 auto;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--lawrencium);
  text-align: center;
}

#game-card.active {
  display: flex;
}

#game-card.multi-player {
  background: radial-gradient(circle,
    #0575e6 30%, #021b79 75%);
}

#game-logo {
  position: absolute;
  top: 40px;
  width: 70%;
  max-width: 300px;
}

#game-logo.clear {
  opacity: 0;
  transition-duration: 1s;
}

#single-player-box,
#multi-player-box {
  display: none;
  justify-content: space-around;
  /* width: w/dance-floor */
  /* max-width: w/dance-floor */
}

#single-player-box.active,
#multi-player-box.active {
  display: flex;
}

.player-box {
  display: flex;
  justify-content: space-around;
  flex-flow: column;
}

#player-none {
  color: var(--cyan)
}

#player-one {
  color: var(--red);
}

#player-two {
  color: var(--green);
}

.player {
  margin: 10px 0;
  display: inline-block;
  font-weight: bold;
  line-height: 37px;
  text-shadow: var(--default-shadow);
  transition-duration: 1s;
}

.player.active {
  font-size: 32px;
  transition-duration: 1s;
}

#turn-count,
#player-one-score,
#player-two-score {
  margin: 10px 0;
  color: #bbb;
  font-family: monospace;
  font-size: 40px;
  font-weight: bold;
  line-height: 32px;
  text-shadow: var(--default-shadow);
  transition-duration: 1s;
}

#turn-count,
#player-one-score.active,
#player-two-score.active {
  color: #fff;
  font-size: 60px;
  transition-duration: 1s;
}

#news-feed {
  color: var(--orange);
  text-shadow: var(--default-shadow)
}

#multi-player-box,
#dance-floor {
  width: 100%;
  max-width: 340px;
}

#dance-floor {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  height: 340px;
  background: var(--blue);
  background: var(--wild) !important;
}

.floor-tile {
  margin: 2px;
  width: 62px;
  height: 62px;
  background: #fff;
  border: 1px solid black;
  box-shadow: var(--default-shadow);
}

.floor-tile.matching {
  opacity: 0.6;
  transform: scale(0.9);
  transition-duration: 1s;
}

#win-overlay {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0,0,0,0.5);
}

#win-overlay.active {
  display: flex;
}

#overlay-box {
  margin: 10px;
  padding: 10px;
  width: 80%;
  max-width: 400px;
  background: rgba(48,20,99,0.9);
  box-shadow: 1px 1px 10px #000;
  color: #fff;
  text-align: center;
}

#overlay-box.multi-player {
  background: rgba(5,117,230,0.9);
}

#congrats {
  text-shadow: var(--default-shadow);
}

#congrats.text-cyan {
  color: var(--cyan);
}

#congrats.text-red {
  color: var(--red);
}

#congrats.text-green {
  color: var(--green);
}

#play-again-btn:focus {
  padding-left: 37%;
  padding-right: 37%;
  background: var(--green);
  color: var(--green);
  opacity: 1;
  transition-duration: 1.5s;
  text-shadow: none;
}



@media (min-width: 600px) {
  #single-player-box,
  #multi-player-box {
    max-width: 450px;
  }

  #dance-floor {
    max-width: 530px;
    height: 530px;
  }

  .floor-tile {
    margin: 2px;
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 350px) {
  #single-player-box,
  #multi-player-box,
  #dance-floor {
    max-width: 280px;
  }

  #dance-floor {
    height: 280px;
  }

  .floor-tile {
    margin: 2px;
    width: 50px;
    height: 50px;
  }

  #game-logo {
    top: 20px;
  }
}

/* color_= #22212C
color_= #F8F8F2
color_= #454158
color_= #a2a2a2
color_= #9580FF
color_= #80FFEA
color_= #FFFF80
color_= #FF80BF */
